.container-fluid{
  background-color: gray;
}
.space-top{
height: 10vh ;
background-color:gray;
}
.space-left{
  height: 80vh;
}
.container-login{
height: 500px;

}
#sing-in{
  background-color: purple;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}
#sing-up{
  background-color: orange;
  border-top-right-radius: 3%;
  border-bottom-right-radius:3%;
}
#head-sing-in{
  height:90px; 
  background-color: transparent;
  font-size: x-large;
  padding-top: 15%;
  padding-left:15%;
}
#form-sing-in{
  height: 30vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom:10%;
}
.form-login{
  height: :50vh;
}